<p-toast position="top-right"></p-toast>
<div id="wrapper-content">
    <div class="portlet-boundary portlet-boundary_LPLogin_ portlet-static portlet-static-end decorate" id="p_p_id_LPLogin_INSTANCE_#portlet_">
        <span id="p_LPLogin_INSTANCE_#portlet"></span>

        <section class="portlet" id="portlet_LPLogin_INSTANCE_#portlet">
            <div class="portlet-content">
                <div class="portlet-content-container">
                    <div class="portlet-body">
                        <!-- <div class="check-id">mo</div> -->
                        <div class="login-page">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="loginOTP">
                                            <div class="login">
                                                <div class="container">
                                                    <form id="send-otp-form">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="title-pu">Nhập Số Điện Thoại</div>
                                                                <div class="OTPcode">Mã OTP đăng nhập sẽ được gửi tới bạn qua SMS</div>
                                                                <div class="form-login-cam">
                                                                    <input type="text" class="form-control text-center" name="userPhone" id="sdt" placeholder="Số điện thoại" />
                                                                </div>
                                                                <div class="login-error-message"></div>
                                                                <div class="send-otp text-center">
                                                                    <button type="button" class="bnt-sendotp" id="send-otp">Gửi OTP</button>
                                                                    <button type="button" class="bnt-sendotp btn-loading" id="login-loading">
                                                                        <img src="../../assets/kassets/dashboard/loading.svg" tppabs="https://phanexpress.com/WebLauPhan/common/loading.svg" />
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="submitOTP">
                                            <div class="login">
                                                <div class="container">
                                                    <form id="login-otp-form">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="title-pu">Nhập Mã OTP</div>
                                                                <div class="OTPcode">Vui lòng nhập Mã OTP được gửi đến số của bạn</div>
                                                                <div class="form-login-cam">
                                                                    <input type="text" class="form-control text-center" name="phoneOTP" id="otp" placeholder="OTP" />
                                                                </div>
                                                                <div class="otp-error-message"></div>
                                                                <div class="send-otp text-center">
                                                                    <button type="button" class="bnt-sendotp" id="login-otp">Đăng nhập</button>
                                                                    <button type="button" class="bnt-sendotp btn-loading" id="login-otp-loading">
                                                                        <img src="../../assets/kassets/dashboard/loading.svg" tppabs="https://phanexpress.com/WebLauPhan/common/loading.svg" />
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="newUserInfo">
                                            <div class="login">
                                                <div class="container">
                                                    <form id="newUserInfo-form">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="title-pu newUserInfo-title">Xin vui lòng nhập THÔNG TIN TÀI KHOẢN</div>
                                                            </div>
                                                            <input id="temp-customerOtp" type="hidden" />
                                                            <div class="col-12">
                                                                <div class="newUserInfo-label">Tên khách hàng <span class="newUserInfo-note">*</span></div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="newUserInfo-input-div">
                                                                    <input type="text" class="form-control newUserInfo-input" name="newUserInfoUsername" id="newUserInfo-Username" placeholder="Nhập Họ Tên" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="newUserInfo-label">Ngày sinh <span class="newUserInfo-note">*</span></div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="newUserInfo-input-div">
                                                                    <input type="text" class="form-control newUserInfo-input" name="newUserInfoBirthday" id="newUserInfo-Birthday" placeholder="01/01/1992" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="newUserInfo-label">Giới tính <span class="newUserInfo-note">*</span></div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="newUserInfo-input-div">
                                                                    <select class="form-control newUserInfo-input" id="newUserInfo-Gender" name="newUserInfoGender">
                                                                                    <option value="1">Nam</option>
                                                                                    <option value="0">Nữ</option>
                                                                                </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="newUserInfo-label">Quận <span class="newUserInfo-note">*</span></div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="newUserInfo-input-div">
                                                                    <select class="form-control newUserInfo-input" id="newUserInfo-District" name="newUserInfoDistrict">
                                                                        <option value="-1" selected>Chọn</option>
                                                                        <option *ngFor="let i of centers" [ngValue]="i.code">{{i.ten}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="text-center">
                                                                    <button type="button" class="bnt-sendotp" id="newUserInfo-submit">TIẾP TỤC</button>
                                                                    <button type="button" class="bnt-sendotp btn-loading" id="newUserInfo-loading">
                                                                        <img src="../../assets/kassets/dashboard/loading.svg" tppabs="https://phanexpress.com/WebLauPhan/common/loading.svg" />
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="LayoutPhanExpress" id="main-content" role="main">
        <div class="portlet-layout">
            <div class="portlet-column portlet-column-only" id="column-1">
                <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1">
                    <div class="portlet-boundary portlet-boundary_LPOrder_ portlet-static portlet-static-end decorate" id="p_p_id_LPOrder_INSTANCE_ZNe1lxOW8SmF_">
                        <span id="p_LPOrder_INSTANCE_ZNe1lxOW8SmF"></span>

                        <section class="portlet" id="portlet_LPOrder_INSTANCE_ZNe1lxOW8SmF">
                            <div class="portlet-content">
                                <div class="portlet-content-container">
                                    <div class="portlet-body">
                                        <div class="lp-order-page">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="title-order text-center">Đặt bàn</div>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="customerOTP" value="" />
                                                <div class="row form-cam-order-lp">
                                                    <div class="col-12 col-md-4">
                                                        <div class="title-cam-order">Nhà hàng</div>
                                                        <div class="order-cam-logo">
                                                            <p>Bufet lẩu Thiên Anh</p>
                                                            <!-- <div id="btn1" style="background-color: #e84a1b;">
                                                                <a href="dat-ban-type=lauphan.htm" tppabs="https://phanexpress.com/dat-ban?type=lauphan">
                                                                    <img src="../../assets/kassets/dashboard/btn_phan25x25.svg" tppabs="https://phanexpress.com/WebLauPhan/order/btn_phan25x25.svg" style="width: 35px; height: 35px;" /> Lẩu Phan
                                                                </a>
                                                            </div>
                                                            <div id="btn2" style="background-color: #b7b7b7;">
                                                                <a href="dat-ban-type=laubuffet.htm" tppabs="https://phanexpress.com/dat-ban?type=laubuffet">
                                                                    <img src="../../assets/kassets/dashboard/btn_lau_25x25.svg" tppabs="https://phanexpress.com/WebLauPhan/order/btn_lau_25x25.svg" style="width: 28px; height: 28px;" /> Làu Buffet
                                                                </a>
                                                            </div> -->
                                                        </div>
                                                        <div class="form-cam-order">
                                                            <label>Cơ sở</label>
                                                            <select [(ngModel)]="requestForm.maChiNhanh" id="selectCoso" class="form-control">
                                                                <option value="-1" selected>Chọn</option>
                                                                <option *ngFor="let i of centers" [ngValue]="i.code">{{i.ten}}</option>
                                                            </select>
                                                            <div class="validate-error" id="messageLocation"></div>
                                                            <div id="address"></div>
                                                            <div class="direct">
                                                                <a id="location-icon-href" href="dia-chi.htm" tppabs="https://phanexpress.com/dia-chi" target="_blank">
                                                                    <img src="../../assets/kassets/dashboard/direct.svg" tppabs="https://phanexpress.com/WebLauPhan/order/direct.svg" />
                                                                </a>
                                                                <div><a id="ahref" href="dia-chi.htm" tppabs="https://phanexpress.com/dia-chi" target="_blank">Chỉ đường</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="form-cam-order">
                                                            <label>Số người</label>
                                                            <select [(ngModel)]="requestForm.soNguoi" id="selectSoNguoi" class="form-control">
                                                                <option *ngFor="let item of peopleRange">{{item}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="date-order pd-top-order">
                                                            <div class="ngay">
                                                                <div class="form-cam-order">
                                                                    <label>Ngày</label>
                                                                    <select [(ngModel)]="selectedDay" (ngModelChange)="dayChange($event)" id="selectDay" class="form-control">
                                                                        <option value="0" selected>Hôm nay</option>
                                                                        <option value="1">Ngày mai</option>
                                                                        <option value="2">Ngày kia</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="gio">
                                                                <div class="form-cam-order">
                                                                    <label>Giờ</label>
                                                                    <div id="loading-time">
                                                                        <img src="../../assets/kassets/dashboard/loading-icon.svg" tppabs="https://phanexpress.com/WebLauPhan/loading-icon.svg" />
                                                                    </div>
                                                                    <select [(ngModel)]="requestForm.ngayGio" id="selectHour" class="form-control">
                                                                        <option value="-1" selected>Chọn</option>
                                                                        <option *ngFor="let item of timeRange">{{item}}</option> <!--| date:'HH:mm'-->
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="validate-error" id="messageGioDat"></div>
                                                        <div class="form-cam-order pd-top-order"><label>Ghi chú</label> <input type="text" id="ghichu" class="form-control" /></div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="form-cam-order pd-mb"><label>Tên người đặt</label> <input id="nameOrder" type="text" placeholder="Nhập tên" class="form-control" [(ngModel)]="requestForm.tenNguoiDat" /></div>
                                                        <div class="validate-error" id="messageNameOrder"></div>
                                                        <div class="form-cam-order pd-top-order">
                                                            <label>Số điện thoại</label> <input id="sdtOrder" type="text" placeholder="Nhập số điện thoại" class="form-control" [(ngModel)]="requestForm.soDienThoai" />
                                                        </div>
                                                        <div class="validate-error" id="messageSDT"></div>

                                                        <div class="btn-lp">
                                                            <button (click)="submit()" class="btn-datmua" id="btn-datban">Đặt bàn</button>
                                                            <button class="btn-datmua btn-loading" id="btn-datban-loading">
                                                                <img src="../../assets/kassets/dashboard/loading.svg" tppabs="https://phanexpress.com/WebLauPhan/common/loading.svg" />
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="note-order text-center">
                                                            <div>LƯU Ý:</div>
                                                            <div>Chỉ khi nhận được SMS hoặc cuộc gọi từ bộ phận chăm sóc khách hàng, yêu cầu đặt bàn của bạn mới được xác nhận!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div id="orderSuccess">
                                                            <div class="order-success">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="title-pu">Đặt bàn thành công !</div>
                                                                            <div class="text-pu">Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất</div>
                                                                            <div class="btn-close-popup">
                                                                                <button data-fancybox-close="" class="fancybox-button btn-close" title="Close" type="button">Đóng</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div id="orderOverload">
                                                            <div class="order-success">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="title-pu">Bạn đã đặt bàn quá nhiều!</div>
                                                                            <div class="text-pu">Hãy liên hệ theo Hotline 1900 2808 để tiếp tục đặt bàn</div>
                                                                            <div class="btn-close-popup">
                                                                                <button data-fancybox-close="" class="fancybox-button btn-close" title="Close" type="button">Đóng</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="#" class="hide" id="hrefFm" method="post" name="hrefFm"><span></span><input hidden type="submit" /></form>
</div>