<div class="layout-sidebar" [ngClass]="{'active': active}">
    <a [routerLink]="['/dashboard']" class="logo">
        <img alt="logo" class="ng-tns-c39-1" src="assets/showcase/images/logo.png">
    </a>
    <div class="layout-sidebar-filter p-fluid p-input-filled">
        <p-autoComplete [group]="true" [(ngModel)]="selectedRoute" [minLength]="2" [suggestions]="filteredRoutes" scrollHeight="300px" (onSelect)="onSelect($event)" placeholder="Search by name..." (completeMethod)="filterGroupedRoute($event)" field="label">
        </p-autoComplete>
    </div>
    <div class="layout-menu">
        <div class="menu-category">Quản trị dữ liệu</div>
        <div class="menu-items">
            <a [routerLink]="['/admin/bai-dang-quang-cao']" routerLinkActive="router-link-exact-active">Quản lý các bài đăng</a>
            <a [routerLink]="['/admin/bang-cham-cong']" routerLinkActive="router-link-exact-active">Bảng chấm công</a>
            <a [routerLink]="['/admin/chi-nhanh']" routerLinkActive="router-link-exact-active">Chi nhánh/Trụ sở</a>
            <a [routerLink]="['/admin/combo']" routerLinkActive="router-link-exact-active">Combo khuyến mãi</a>
            <!-- <a [routerLink]="['/admin/ct-hoa-don']" routerLinkActive="router-link-exact-active">Chi tiết hoá đơn</a> -->
            <!-- <a [routerLink]="['/admin/danh-sach-nhan-vien']" routerLinkActive="router-link-exact-active">Danh sách nhân viên thuộc chi nhánh</a> -->
            <a [routerLink]="['/admin/giam-gia-combo']" routerLinkActive="router-link-exact-active">Giảm giá combo</a>
            <a [routerLink]="['/admin/hoa-don']" routerLinkActive="router-link-exact-active">Quản lý đơn đặt hàng/Hoá đơn</a>
            <a [routerLink]="['/admin/khach-hang']" routerLinkActive="router-link-exact-active">Quản lý khách hàng</a>
            <a [routerLink]="['/admin/nha-cung-cap']" routerLinkActive="router-link-exact-active">Quản lý nhà cung cấp thực phẩm</a>
            <a [routerLink]="['/admin/phan-phoi-thuc-pham']" routerLinkActive="router-link-exact-active">Quản lý phân phối</a>
            <a [routerLink]="['/admin/phan-quyen']" routerLinkActive="router-link-exact-active">Phân quyền người dùng</a>
            <a [routerLink]="['/admin/quyen-truy-cap']" routerLinkActive="router-link-exact-active">Quản lý quyền truy cập</a>
            <a [routerLink]="['/admin/thuc-pham']" routerLinkActive="router-link-exact-active">Quản lý thực phẩm</a>
            <a [routerLink]="['/admin/nhan-vien']" routerLinkActive="router-link-exact-active">Quản lý nhân viên</a>
        </div>
        <div class="menu-category">Nghiệp vụ quản lý</div>
        <div class="menu-items">
            <a [routerLink]="['/order-manage']" routerLinkActive="router-link-exact-active">Quản lý đơn đặt bàn</a>
            <a [routerLink]="['/#']" routerLinkActive="router-link-exact-active">Quản lý công việc</a>
        </div>
        <div class="menu-category">Thống kê thu chi</div>
        <div class="menu-items">
            <a [routerLink]="['/#']" routerLinkActive="router-link-exact-active">Thống kê doanh thu</a>
            <a [routerLink]="['/#']" routerLinkActive="router-link-exact-active">Thống kê chi phí</a>
        </div>
        <div class="menu-category">Báo cáo và phản hồi</div>
        <div class="menu-items">
            <a [routerLink]="['/#']" routerLinkActive="router-link-exact-active">Báo cáo lỗi</a>
        </div>
    </div>
</div>