<div class="layout-wrapper">
    <app-topbar></app-topbar>
    <app-menu></app-menu>
    <app-config></app-config>

    <div class="layout-content">
        <div class="content-section implementation">
            <p-toast></p-toast>

            <div class="card">
                <p-toolbar styleClass="p-mb-4">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteMulti()" [disabled]="!selectedPhanPhoiThucPhams || !selectedPhanPhoiThucPhams.length"></button>
                    </ng-template>

                    <ng-template pTemplate="right">
                        <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload> -->
                        <button pButton pRipple type="button" label="Xuất excel" class="p-button-help p-mr-2" icon="pi pi-upload" (click)="confirmPosition('top-right')"></button>
                        <!-- <button pButton pRipple type="button" label="Lưu toàn bộ" class="p-button-success p-mr-2" icon="pi pi-save"></button> -->
                    </ng-template>
                </p-toolbar>

                <p-table #dt [value]="PhanPhoiThucPhams" [rows]="10" [paginator]="true" [globalFilterFields]="['ma_NhaCungCap','ma_ThucPham','ma_ChiNhanh','soLuong','moTa']" [(selection)]="selectedPhanPhoiThucPhams" [rowHover]="true" dataKey="code" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <h5 class="p-m-0">Quản lý phân phối</h5>
                            <span class="p-input-icon-left">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                          </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="ma_NhaCungCap">Mã nhà cung cấp
                                <p-sortIcon field="ma_NhaCungCap"></p-sortIcon>
                            </th>
                            <th pSortableColumn="ma_ThucPham">Mã thực phẩm
                                <p-sortIcon field="ma_ThucPham"></p-sortIcon>
                            </th>
                            <th pSortableColumn="ma_ChiNhanh">Mã chi nhánh
                                <p-sortIcon field="ma_ChiNhanh"></p-sortIcon>
                            </th>
                            <th pSortableColumn="soLuong">Số lượng
                                <p-sortIcon field="soLuong"></p-sortIcon>
                            </th>
                            <th pSortableColumn="moTa">Mô tả
                                <p-sortIcon field="moTa"></p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-PhanPhoiThucPham>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="PhanPhoiThucPham"></p-tableCheckbox>
                            </td>
                            <td>{{PhanPhoiThucPham.ma_NhaCungCap}}</td>
                            <td>{{PhanPhoiThucPham.ma_ThucPham}}</td>
                            <td>{{PhanPhoiThucPham.ma_ChiNhanh}}</td>
                            <td>{{PhanPhoiThucPham.soLuong}}</td>
                            <td>{{PhanPhoiThucPham.moTa}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(PhanPhoiThucPham)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteOne(PhanPhoiThucPham)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total there are {{PhanPhoiThucPhams ? PhanPhoiThucPhams.length : 0 }} records.
                        </div>
                    </ng-template>
                </p-table>
            </div>

            <p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="Chi tiết phân phối" [modal]="true" styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <img [src]="PhanPhoiThucPham.hinhAnh" [alt]="PhanPhoiThucPham.hinhAnh" class="product-image" *ngIf="PhanPhoiThucPham.hinhAnh">
                    <div class="p-field">
                        <label for="ma_NhaCungCap">Mã nhà cung cấp</label>
                        <input type="text" pInputText id="ma_NhaCungCap" [(ngModel)]="PhanPhoiThucPham.ma_NhaCungCap" required autofocus />
                        <small class="p-error" *ngIf="submitted && !PhanPhoiThucPham.ma_NhaCungCap">Bắt buộc điền Mã nhà cung cấp.</small>
                    </div>
                    <div class="p-field">
                        <label for="ma_ThucPham">Mã thực phẩm</label>
                        <input type="text" pInputText id="ma_ThucPham" [(ngModel)]="PhanPhoiThucPham.ma_ThucPham" required autofocus />
                        <small class="p-error" *ngIf="submitted && !PhanPhoiThucPham.ma_ThucPham">Bắt buộc điền Mã thực phẩm</small>
                    </div>
                    <div class="p-field">
                        <label for="ma_ChiNhanh">Mã chi nhánh</label>
                        <input type="text" pInputText id="ma_ChiNhanh" [(ngModel)]="PhanPhoiThucPham.ma_ChiNhanh" required autofocus />
                        <small class="p-error" *ngIf="submitted && !PhanPhoiThucPham.ma_ChiNhanh">Bắt buộc điền Mã chi nhánh.</small>
                    </div>
                    <div class="p-field">
                        <label for="soLuong">Số lượng</label>
                        <input type="text" pInputText id="soLuong" [(ngModel)]="PhanPhoiThucPham.soLuong" required autofocus />
                        <small class="p-error" *ngIf="submitted && !PhanPhoiThucPham.soLuong">Bắt buộc điền số lượng.</small>
                    </div>
                    <div class="p-field">
                        <label for="moTa">Mô tả</label>
                        <input type="text" pInputText id="moTa" [(ngModel)]="PhanPhoiThucPham.moTa" />
                    </div>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
                </ng-template>
            </p-dialog>

            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
            <p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
        </div>
    </div>
</div>